<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
<section class="home">
    <body>
        <div id="header-link">
            <p class="alignright">
                <a href="/">
                    Home
                </a>
            </p>
        </div>
        <h2>About</h2>
        <p>Well, we haven't done anything yet but we're working on it.</p>
    </body>
</section>
