<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
<section class="home">
    <body>
      <div id="header-link">
          <p class="alignright">
              <a href="/about">
                  About
              </a>
          </p>
      </div>
        <h2>Q and M</h2>
        <p>We're Matt and Quentin. We make apps and websites.</p>
        <p>If you don't think the matrix was a documentary, get the fuck off this site.</p>
    </body>
</section>
