<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
<section class="home">
    <body>
        <p class="alignright">
            <a href="/about">
                About
            </a>
            .
            <a href="/projects">
              Projects
            </a>
        </p>
        <h2>Q and M</h2>
        <p>We're Matt and Quentin. We make apps and websites.</p>
        <p>If you don't think the matrix was a documentary, get off this site.</p>
        <footer>
            <img src="/pictures/Matt.jpg">
            <img src="/pictures/Quentin.jpg">
        </footer>
    </body>
</section>
