<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
<section class="home">
    <body>
      <div id="header-link">
          <p class="alignright">
              <a href="/about">
                  About
              </a>
          </p>
      </div>
        <h2>Hello</h2>
        <p>We're Matt and Quentin. We make apps and websites.</p>
    </body>
</section>
