<link rel="stylesheet" type="text/css" href="/stylesheets/application.css">
<section class="home">
  <body>
    <h2>Hello</h2>
    <p>I'm a software engineer living in Kingston. I go to Queen's for computer science.</p>

    <h2>Apps</h2>
    <p>I started developing for iOS the day the SDK was released way back in 2008. Here are some of the best apps I've worked on. I'm no longer involved in the development of several of these since some belong to previous employers.</p>
  </body>
</section>
