body {
  background-color:#22A697;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  text-align:left;
	color:white;
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
}

#header-link p {

}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
